body {
    background-image: url("Inside a big empty beautiful classical concert hall. Big chandelier in the middle. Dim light.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto; /*Denne sentrere hele siden*/
    max-width: 1000px;

    padding-top: 60px; /*For site under construction ikke skal dekke over tittelen*/
}

h1 {
    text-align: center;
    font-size: 5vw;
    text-shadow: 2px 2px 5px white;
}

.hovedside img {
    float: left;
    max-width: 50vw;
    max-height: 100vh;
    border-radius: 50px; /*Denne runder av kantene*/
    margin: 30px;
}

p.hovedside {
    font-size: 50px;
}

.menu {
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

.menu a {
    background-color: dimgray;
    color: white;
    padding: 40px 30px 40px 30px;
    font-size: medium;
    box-shadow: 2px 2px 2px black;
}

.menu a:hover {
    background-color: white;
    color: black;
    opacity: 0.5;
    padding: 40px 30px 40px 30px;
    font-size: 20;
    box-shadow: 2px 2px 2px black;
}

.box {
    margin: 50px;
    background-color: white;
    padding: 30px;
    font-size: 12px;
    box-shadow: 10px 10px 5px black;
}

.box a {
    padding: 10px;
}

.box p {
    font-size: 12px;
}

/*Lager et rutenett av elementene inni*/
.cv-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    align-self: center;
}

.cv-date {
    grid-column: 1;
    width: 100px;
}

.cv-innhold {
    grid-column: 2;
    width: 300px;
}

.cv-place {
    grid-column: 3;
}

.booking p {
    font-size: 20px;
}

.booking img {
    max-width: 30vw;
    margin: 2vw;
}

.construction {
    font-size: 50px;
    color: red;
    background-color: white;
    text-align: center;
    top: 0;
    position: fixed;
    width: 100%;
}
