body {
    max-width: 1000px;
    margin: 0 auto; /*Denne sentrere hele siden*/

    padding-top: 60px; /*For site under construction ikke skal dekke over tittelen*/
}

/* .background-wrap {
    position: relative;
} */

.background-wrap:before {
    content: ' '; /*Denne maa vaere her*/ 
    /* display: block; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;

    background-image: url("assets/Inside a big empty beautiful classical concert hall. Big chandelier in the middle. Dim light.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content-wrap {
    position: relative;
}

h1 {
    text-align: center;
    font-size: 5vw;
}

/*Hvis viewport bredde er veldig kort*/
@media screen and (max-width: 500px) {
    .hovedside {
        display: grid;
    }

    .hovedside img {
        /*!important overskriver stylen i .hovedside img*/
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 75vw !important;
        margin-bottom: 0 !important;
    }

    .menu a {
        font-size: small !important;
    }

    .cv-container {
        grid-template-areas:
        "place cont"
        "date cont"
        ;
    }

    .cv-place {
        font-size: 10px;
        grid-column: 1 !important;
        grid-area: place;
        margin-bottom: 0;
    }

    .cv-date {
        font-size: 10px;
        grid-area: date;
        margin-top: 0;
    }

    .cv-content {
        grid-row: span 2;
        width: 60vw !important;
        grid-area: cont;
    }

    .cv-content p{
        font-size: 10px !important;
    }

}

.hovedside img {
    float: left;
    max-width: 50vw;
    max-height: 100vh;
    border-radius: 50px; /*Denne runder av kantene*/
    margin: 30px;
}

.hovedside-tekst {
    font-size: 20px;
}

.menu {
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

.menu a {
    background-color: rgb(33, 33, 33);
    color: white;
    padding: 3vw 3vw 3vw 3vw;
    font-size: medium;
    box-shadow: 2px 2px 2px black;
    text-decoration: none;
}

.menu a:hover {
    background-color: white;
    color: black;
    opacity: 0.5;
    font-size: 20;
    box-shadow: 2px 2px 2px black;
}

.box {
    margin-top: 10vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 3vw;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    font-size: 12px;
    box-shadow: 10px 10px 5px black;
}

.box p {
    font-size: 12px;
}

.box h2 {
    text-align: center;
    text-decoration: underline;
}

/*Lager et rutenett av elementene inni*/
.cv-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2vw;
    align-self: center;
}

.cv-date {
    grid-column: 1;
    max-width: 150px;
    width: 20vw;
}

.cv-content {
    grid-column: 2;
    max-width: 400px;
    width: 30vw;
}

.cv-place {
    grid-column: 3;
    max-width: 150px;
    width: 20vw;
    display: flex;
}

.cv-ferdigheter {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.booking {
    text-align: center;
}


.booking p {
    font-size: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.booking img {
    min-width: 200px;
    max-width: 30vw;
    margin: 2vw;
}

.booking img:hover {
    opacity: 0.75;
}

.booking iframe {
    width: 300px;
    height: 300px;
}

.construction {
    font-size: 50px;
    color: red;
    background-color: pink;
    text-align: center;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

/*En wrapper for img og gir style til toppteksten*/
.verk {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3vw;

    font-size: 15px;
}

.verk img {
    max-width: 100%;
}
